html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./assets/background.png);
}

.allMightyContainer {
    font-weight: 700 !important;
    display: flex;
    flex-direction: column;
    background-color: rgba(3, 3, 3, 0.527);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding-bottom: 2%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #79CBA3;
    background: -webkit-linear-gradient(to right, #79CBA3, #ba2c8da9);
    background: linear-gradient(to right, #79cba3c2, #ba2c8da9); 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.body-container {
    margin: 20px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.filter-container h2 {
    color: white;
    margin-left: 10px;
}

#logo {
    margin: 0 auto;
    width: 30%;
    min-height: 8vh;
    height: auto;
}

#filter-heading {
    font-family: Arial, sans-serif;
}

.Shuffle {
    margin-top: -30px;
    padding-bottom: 15px;
    display: flex;
    justify-content: left;
    animation: slideInShuffle 0.4s forwards ease-in; /* Unique animation for Shuffle */
}

.Shuffle button {
    padding-left: 2%;
    padding-right: 2%;
    background-color: #79CBA3;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: fit-content;
    margin: 3px;
    font-family: Arial, sans-serif;
    font-size: large;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-100px); /* Start off-screen to the left */
    animation: slideInShuffle 1s forwards ease-in;
}

@keyframes slideInShuffle {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}

.Shuffle button:hover {
    cursor: pointer;
    background-color: #549b78;
}

.filteringDropdowns {
    display: flex;
}

.checkbox-dropdown {
    margin: 5px;
}

.dropdown-btn{
    font-family: Arial, sans-serif;
    color: black;
    border: 1px solid grey;
    padding: auto;
    font-size: large;
    margin: 0 1%;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-300%);
    animation: slideInLeft 1s forwards ease-in;
}

/* .dropdown-btn:nth-child(1) {
    animation-delay: 0.6s;
}

.dropdown-btn:nth-child(2) {
    animation-delay: 0.6s;
} */

@keyframes slideInLeft {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0);
    }
}

.dropdown-btn:hover, label:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #E7E4E4;
    width: fit-content;
    position: absolute;
    z-index: 1;
    background-color: #605e5e;
    background: linear-gradient(to right, #605e5e, #767373, #605e5e);
    color: #fff;
    font-family: Arial, sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.dropdown-content label {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.dropdown-content.show {
    display: flex;
    flex-direction: column;
}

.center-boxes {
    display: grid;
    justify-content: center;
}

.box-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.box-container h3 {
    color: white;
}

.interPool-wrap {
    overflow: hidden;
    border-radius: 20px;
    transform: translateX(-300%);
    animation: slideInInterns 1.5s forwards ease-in;
}
@keyframes slideInInterns {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}
.pool-box {
    border: 2px solid rgb(167, 165, 165);
    width: 25vw;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow-y: scroll;
    height: 64vh;
    padding-left: 0;
}

.pool-box ul li {
    padding-bottom: 15px;
}

.outcome-wrapper {
    overflow: hidden;
    border-radius: 20px;
}

.outcome-box {
    border: 2px solid black;
    padding: 1em;
    background-color: white;
    height: 64vh;
    overflow-y: scroll;
    padding-top: 10px;
}
#display-percentage{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
    margin-top: auto;
}

/* START: styling the javascript-made elements (tables and rows */
/* Style the table in the outcome box */
#outcome-box table {
    width: 100%; /* Make the table span the full width of the outcome box */
    border-collapse: collapse; /* Ensure that borders don't overlap */
    margin-top: 10px; /* Add some space above the table */
}

/* Style each row */
#outcome-box table tr {
    border-bottom: 2px solid black; /* Black border for each row */
}

/* Style each table cell */
#outcome-box table td {
    padding: 10px; /* Add padding inside each cell */
    text-align: center; /* Center the text in each cell */
    font-size: 1em; /* Adjust font size */
}

#display-percentage {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
    margin-top: auto;
}
.intern-pool {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
#internPool {
    list-style: none;
    font-family: Arial, sans-serif;
    text-align: start;
    padding-left: 10px;
}



#groups {
    visibility: hidden;
    font-family: Arial, sans-serif;
    font-size: 1.17em;
}

#outcome-box {
    border: 2px solid rgb(167, 165, 165);
    width: 50vw;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.actions {
    display: flex;
    justify-content: flex-end;
    animation: fadeInActions 1s forwards ease-in;
}

.actions button {
    background-color: #79CBA3;
    height: 40px;
    width: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: large;
    border: none;
    border-radius: 20px;
    margin: 5px;
    transform: translateX(100px);
    animation: slideInActions 0.6s forwards ease-in;
}

@keyframes slideInActions {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}

  .actions button:hover {
    cursor: pointer;
    background-color: #ba2c8e;
    color: #ffffff;
  }

.switches {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: white;
    transform: translateX(-200%);
    animation: slideInSwitch 1s forwards ease-in;
}

@keyframes slideInSwitch {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0);
    }
}

.switch-label {
    margin-bottom: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 480px) {
    #logo {
        width: 100%;
    }
    .filter-container {
        justify-content: center;
    }
    #filter-heading {
        display: none;
    }
    .Shuffle {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }
    .filteringDropdowns {
        justify-content: center;
    }
    .switches {
        justify-content: center;
        margin-top: 0;
    }
    .box-container {
        flex-direction: column;
    }
    #internPool {
        padding: 0 11vw;
    }
    .pool-box {
        width: 78vw;
    }
    #outcome-box {
        width: 79vw;
    }
    #display-percentage {
        text-align: center;
    }
}
